.container {
  background-color: rgb(0, 166, 194);
  max-width: 30%;
  max-height: 50%;
  box-sizing: border-box;
  border-radius: 15px;
  margin: auto;
  padding: 40px;
  margin-top: 20px;
}

p {
  font-size: 24px;
  font-weight: 300;
  font-family: 'Comic Sans MS", cursive, sans-serif';
}

.container button {
  background-color: #eba900;
  box-sizing: border-box;
  font-size: 16px;
  border-radius: 10px;
  padding: 20px;
  color: white;
  border-style: solid;
  border-color: #eba900;
}

.result-img {
  margin-top: 20px;
  margin-left: 20px;
}

.container-info {
}
