.results-page {
  border-top: solid;
  display: flex;
  flex-direction: column;
  /* align-self: center; */
  width: 80%;
  color: #9d9c9c;
  margin: 10vh 10vw 10vw;
  justify-content: center;
}

.results {
  margin-top: 5%;
  display: flex;
  justify-content: center;
}

.current {
  border-right: solid;
  padding-right: 10%;
}

.forecast {
  border: none;
  padding-left: 10%;
}

.forecast p {
  font-size: 0.75em;
}
