body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  text-align: center;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  background-image: linear-gradient(
    to right,
    rgba(255, 0, 0, 0.5),
    rgba(255, 255, 0, 0.5)
  );
  position: absolute;
  width: 100%;
}

.week-wrap.with-selected-city {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

.day {
  width: 100%;
  background: #ffffffe0;
  color: #222;
  margin-bottom: 1rem;
  border-radius: 3px;
  padding: 1rem;
}

.day-name-wrap {
  
}