@import url(https://fonts.googleapis.com/css?family=Roboto:400,300);
.card {
    margin: 0 auto;
    margin-top: 5%;
    padding: 5px 30px;
    width: 290px;
    height: 510px;
    border-radius: 3px;
    background-color: #fff;
    box-shadow: 1px 2px 10px rgba(0, 0, 0, .2);
}

h1,
h2,
h3,
h4 {
  color: black;
  position: relative;
}

.sky-container {
  display: flex;
  justify-content: center;
}

.dates {
  color: black;
}

.high {
  color: black;
}

.unit-button {
  background-color: #03A9F4;
  color: white;
  border: none;
}

h6 {
  color: gray;
}
h1 {
    float: right;
    color: #666;
    line-height: .2em;
}

h2 {
    font-weight: 300;
}

h3 {
    float: left;
    margin-right: 33px;
    color: #777;
    font-weight: 400;
}

span {
    margin-left: 24px;
    color: #999;
    font-weight: 300;
}

span span {
    margin-left: 0;
}

.dot {
    font-size: .9em;
}

.sky {
    position: relative;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #03A9F4;
}

.sun {
    position: relative;
    top: -3px;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background-color: #FFEB3B;
}

.cloud {
    position: absolute;
    top: 60px;
    left: 30px;
}

.cloud:before,
.cloud:after {
    position: absolute;
    display: block;
    content: "";
}

.cloud:before {
    margin-left: -10px;
    width: 51px;
    height: 18px;
    background: #fff;
}

.cloud:after {
    position: absolute;
    top: -10px;
    left: -22px;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background: #fff;
    box-shadow: 50px -6px 0 6px #fff, 25px -19px 0 10px #fff;
}

td {
  padding-bottom: 20px;
}

table {
    position: relative;
    top: 10px;
    width: 100%;
    text-align: center;
}

tr:nth-child(3) {
    color: #999;
}
